// Styles for Navbar
.navbar-wrapper {
    height: 90px;
    width: 100%;
    background-color: yellow;
    .navbar-inner {
        margin: 0 auto;
        height: inherit;
    }
    .navbar-inner-right {
        float: right;
        .login-popup-btn {
            position: fixed;
            top: 30px;
            right: 10px;
        }
    }
}